    


        <ion-view view-title='BRAND FIVE' >
    <div ng-if="currentBrand != null" class="bar bar-subheader bar-balanced" style="background-color: #717070;">
       <div
       style="
       position: relative;
        margin-bottom: 20px;">
           <!--don't remove this-->
            <span ng-click = "backward()" ng-if = "back" class="icon ion-arrow-left-b"  style="
      float:left;
        margin-left: 15px;
             font-size: 30px;
                margin-top: 8px;
         "></span>
           <span   ng-if="!back"  class="icon ion-arrow-right-b" style="
        float:left;
            color: #717070;
            font-size: 30px;
                margin-top: 8px;
         ">
    
           </span>
     


            <label style="
            position: absolute;
          
            
            margin: 4px;
            font-size: 12px;
            font-weight: 900;
            text-align: center;
            width: 85%;
            "><!-- <input
            ng-model="articleName"
            placeholder="Filtrer"
            style="
            border-radius: 5px;
            max-width: 50%;
            font-weight: 900;
            font-size: 13px;"/> -->  <b style=" font-style: italic;">{{ currentBrand.name }}</b><br> (<span
                    class="textLightGreen" style="text-align: center;">{{(currentBrand.ca_courant | number : 2)}}/{{currentBrand.ca | number : 2}}</span>
                        DHS</span>
                        )
            </label>

            <span ng-click = "forward()" ng-show = "forw" class="icon ion-arrow-right-b"
            style="
            margin-right: 15px;
            float: right;
            color: #F9FFF9;
            font-size: 30px;
             margin-top: 8px;
           "
            ></span>
            </div>
            <div class="row" style="
                margin: 0;
                padding: 0;
                min-height: 0;
                border: none;
                min-height: 0px;
                text-align: left;
             
                background-color: #3F51B5;
                color: white;
                font-size: 10px;
              margin: 0;
           
              margin: 0;
              padding: 0;
              height: 44px">
                <div class="col"
                style="
                border: none;
                min-width: 50%;
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 14px;
                font-weight: 900;
                text-align: left;  margin-top: 12px">Désignation({{ articles.length }})</div>

                <div class="col col-15"
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px;
                font-weight: 900;
                float: left;  margin-top: 12px">Cs.</div>
                <div class="col col-15"
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px;
                font-weight: 900;
                float: left;  margin-top: 12px">Un.</div>
                <!-- <div class="col col-15"
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 11px;
                font-weight: 900;
                float: left;">total</div> -->
            <!--     <div class="col"
                ng-if="isVendeur"
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 11px;
                font-weight: 900;
                float: left;">stv.</div>

                <div
                class="col"
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 11px;
                font-weight: 900;
                float: left;">stc.</div>

                <div
                ng-if="!isVendeur || forChargement"
                class="col"
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 11px;
                font-weight: 900;
                float: left;">quota</div>
 -->
              </div>
    </div>
    <ion-content
    style = "position: relative;" ng-class="{expanded:$scope.isExpanded}">

          <div ng-if="currentBrand == null">
              <div class="row">
                  <div class="col col-offset-20"><img style="width: 300px; height: 300px; display: block; margin: auto;" src="img/animat-pencil-color.gif"/></div>
              </div>
            <h4 style="text-align: center; color: #496783;"> Aucune marque n'est programmée veuillez passer à l'étape suivante. </h4>

          </div>

          <div ng-if="currentBrand != null" class="list" style="
          height: 300px;
          margin: 0;
        
          padding: 0;

            margin-top:88px;">
            <div class="item"
            style="
            margin: 0;
            padding: 0;
            min-height: 0;
            border: none;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            min-height: 0px;
            text-align: left;" ng-repeat="article in articles | filter:articleName track by $index">
                <div class="row" style="
                background-color: {{ article | backgroundSBD : isVendeur }};
                margin: 0;
                padding: 0;
                margin: 0;">
                   <div class="col" style="
                  margin: 0;
                  min-width: 50%;
                  padding: 0;
                  text-align: center;
                   overflow: hidden; border: none;">
                    <p
                    style="
                    padding: 0;
                    margin: 0;
                    margin-top: -3px;
                    margin-bottom: -3px;
                    font-size: 16px;
                 
                    text-align: left;
                    color: {{ article | fontColorQuotaStock : isVendeur : prelevement : retour : forChargement }}"><ion-scroll direction="x">{{ article.nomArticle }}</ion-scroll></p>
                </div>
                <div class="col col-15" style="
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;"><input type="number"  ng-mousedown="article.packet=article.packet ==0 && !(isVendeur && !forChargement && !retour && !prelevement && article.totalStock <= 0) || (isVendeur && !forChargement && !prelevement && retour && (article.cause == 'none'))?'':article.packet" ng-blur="article.packet=article.packet==''?0:article.packet " ng-readonly="(isVendeur &&  !prelevement && !retour && !forChargement && (!article.packetStock > 0 && !article.unitStock > 0))" ng-change="change(article)" ng-model="article.packet" value="0" style=" background-color: {{ article | backgroundSBD : isVendeur }}; color: green; width: 100%; text-align:center;
                margin-left: 2.5px;
                font-size: 16px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-bottom-width: 2px;"></input></div>
                <div class="col col-15" style="
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;"><input type="number"  ng-mousedown="article.unit=article.unit ==0 && !(isVendeur && !forChargement && !retour && !prelevement && article.totalStock <= 0) || (isVendeur && !forChargement && !prelevement && retour && (article.cause == 'none'))?'':article.unit" ng-blur="article.unit=article.unit==''?0:article.unit " value="0" ng-readonly="(isVendeur && !prelevement && !retour && !forChargement && (!article.packetStock > 0 && !article.unitStock > 0))" ng-change="change(article)" ng-model="article.unit" style=" background-color: {{ article | backgroundSBD : isVendeur }};color: green; width: 100%; text-align:center;
                margin-left: 2.5px;
                font-size: 16px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-bottom-width: 2px;"></input>

                </div>
                <!-- <div class="col col-15" style="
                border: none;
                margin: 0;
                padding: 0;
                font-weight: 900;
                text-align: center;"><span style="font-size: 10px;" ng-bind="(article.packet*article.unitConversion)+(article.unit)"></span>
            </div> -->
<!--                 <div
                ng-if="isVendeur"
                class="col"
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 11px;
                font-weight: 900;
                float: left;">{{ article.stock }}</div>
                <div
                class="col"
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 11px;
                font-weight: 900;
                float: left;">{{ article.stc }}</div>

                <div
                ng-if="!isVendeur || forChargement"
                class="col"
                style="
                margin: 0;
                padding: 0;
                font-size: 11px;
                font-weight: 900;
                text-align: center;
                border: none;">{{ article.quota }}</div>
 -->

                </div>
                  <div class="row" style="height: 30px">   <div class="col"  style="
                    color: inherit;
                    padding: 0;
                    margin: 0;
                 margin-top: 2px;
                    font-size: 12px; 

                    text-align: left;">   
                    <span ng-if="!retour && !prelevement">PPQ: {{::article.past || '0,0,0'}}  </span>
                    <span ng-if="article.promotions != null && article.promotions.length > 0 && !prelevement && !retour" style="margin-right: 15px; float: right; 
                    font-size: 25px; color: {{ article.promotions | promotionConsumed }};">&#8471</span>
                    </div></div>   
                 <div class="row">
                    <div class="col"  ng-if="isVendeur && ( ( !prelevement && !retour && !echange ) || ( echange && echangeOUT ) ) " style="
                  color: {{ article | fontColorQuotaStock : isVendeur : prelevement : retour : forChargement : echange : echangeOUT : echangeIN }}
                  overflow: scroll;
                  margin: 0;
                  padding: 0;
                  color:blue;
                  text-align: center;
                  border: none;">
                        <p
                                style="
                    color: inherit;
                    overflow: scroll;
                    padding: 0;
                    margin: 0;
                    margin-top: -3px;
                    margin-bottom: -3px;
                    font-size: 12px;
                     text-align: left;
                    "><ion-scroll direction="x">StockV : {{ ::article.stock }}</ion-scroll></p>

                    </div>
                    <div class="col"   ng-if="(isVendeur || !isVendeur) && !prelevement && !forChargement && !retour && !echange"  style="
                  color: {{ article | fontColorQuotaStock : isVendeur : prelevement : retour : forChargement : echange : echangeOUT : echangeIN }}
                  overflow: scroll;
                  color:blue;
                  margin: 0;
                  padding: 0;
                  text-align: center;
                  border: none;">
                        <p
                                style="
                    color: inherit;
                    overflow: scroll;
                    padding: 0;
                    margin: 0;
                    margin-top: -3px;
                    margin-bottom: -3px;
                    font-size: 12px;
                    text-align: left;
                    "><ion-scroll direction="x">StockC  : {{ ::article.stc }}</ion-scroll></p>

                    </div>
                    <div class="col"  ng-if="(isVendeur && forChargement) || (!isVendeur && !prelevement)" style="
                  color: {{ article | fontColorQuotaStock : isVendeur : prelevement : retour : forChargement : echange : echangeOUT : echangeIN }}
                  overflow: scroll;
                  margin: 0;

                  padding: 0;
                  color:red;
                  text-align: center;
                  border: none;">
                        <p
                                style="
                    color: inherit;
                    overflow: scroll;
                    padding: 0;
                    margin: 0;
                    margin-top: -3px;
                    margin-bottom: -3px;
                    font-size: 12px;
                     text-align: left;
                    ">
                            <ion-scroll direction="x">Quota : {{ ::article.quota }}</ion-scroll></p>

                    </div>

                </div>
            </div>
          </div>

    </ion-content>
  <div class="bar bar-footer bar-balanced" ng-show="footerBar" style="background-color: #B71C1C;">
    <!-- <div class="title">
        <a ng-click="goCart()" style="float: left; font-size: 35px; margin-right: 20px;"> <i class="icon ion-android-cart"></i></a>
        Total : {{totalBill | promotion }} DHS <a ng-show="nextStep" ng-click = "next()" > <i style="float: right;
    font-weight: 900;
    font-size: 35px;" class="icon ion-arrow-right-a"></i></a></div>  -->
    <div class="title">
      <span ng-click="previous()" ng-if="hasPrevious" style="float: left; font-size: 35px; margin: 0; margin-left: 10px;"><i class="icon ion-arrow-left-a"></i></span>

      <span ng-click="goCart()">
        <i class="icon ion-android-cart" style="font-weight: 900;
        font-size: 20px;"></i>
        {{ ' : ' + (total | number : 2) + ' DHS' }}
      </span>

      <span ng-click="next()" ng-if="hasNext && done" style="float: right; font-size: 35px; margin: 0; margin-right: 10px;"> <i class="icon ion-arrow-right-a"></i></span>
    </div>

  </div>
</ion-view>

<!-- ui-sref="app.brands({ mission : idMission })" -->




    