<ion-view view-title="G.P: {{ infos.golden_points }} / 250 pts | G.S: {{ infos.golden_stores }} / 20.">
    <div class="bar bar-subheader bar-balanced" style="background-color: #717070;">
       <div 
       style="
       position: relative;">
      <a href="#" style="margin-left: 20px;" ng-click = "backward()" ng-show = "back"><i class="icon ion-ios-arrow-left" 
            style="
            float: left; 
            color: #F9FFF9;
            font-size: 40px;
            margin-left: 8px;"
            ></i></a>


            <label style="
            position: absolute;
            left: 0;
            top: 1.5px;
            margin: 7px;
            margin-left: 30px;
            font-size: 15px;
            font-weight: 900;
            "><input 
            ng-model="articleName" 
            placeholder="Filtrer"
            style="
            border-radius: 5px;
            max-width: 50%; 
            font-weight: 900;
            font-size: 13px;"> <b style="margin-left: 35px; font-style: italic;">{{ currentBrand.name }}</b> 
            </label>

            <a href="#" ng-click = "forward()" ng-show = "forw" class="icon ion-ios-arrow-right" 
            style="
            float: right; 
            color: #F9FFF9;
            font-size: 40px;
            margin-right: 8px;"
            ></a>
            </div>
            <div class="row" style="
                margin: 0;
                padding: 0;
                min-height: 0;
                border: none;
                min-height: 0px;
                text-align: left;
                margin-top: 15px; 
                background-color: #3F51B5; 
                color: white;
              margin: 0; 
              margin-top: 30px;
              margin: 0;
              padding: 0;">
                <div class="col col-50" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 14px; 
                font-weight: 900; 
                border-right: 2px solid white;
                text-align: left;">désignation({{cnt}})</div>
                
                <div class="col col-15" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px; 
                font-weight: 900; 
                border-right: 2px solid white;
                float: left;">unité</div>
                <div class="col col-15" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px; 
                font-weight: 900; 
                    border-right: 2px solid white;
                float: left;">caisse</div>
                <div class="col col-15" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px; 
                font-weight: 900; 
                    border-right: 2px solid white;
                float: left;">total</div>
                <div class="col" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px; 
                font-weight: 900; 
                float: left;">stock</div>
              </div>
    </div>
    <ion-content 
    style = "position: relative;" ng-class="{expanded:$scope.isExpanded}">
          <div class="list" style="
          height: 300px;
          margin: 0;
          margin-top: 60px;
          padding: 0;">
            
            <div class="item" 
            style="
            margin: 0;
            padding: 0;
            min-height: 0;
            border: none;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            min-height: 0px;
            text-align: left;" ng-repeat="article in articles | filter:articleName | orderBy:'groupeSBD' track by $index">
                <div class="row" style="
                background-color: {{ article | backgroundSBD }};
                margin: 0;
                padding: 0;
                margin: 0;">
                   <div class="col col-50" style="
                  margin: 0;
                  padding: 0;
                  text-align: center;
                   overflow: hidden; border: none;">
                    <p 
                    style="
                    padding: 0;
                    margin: 0;
                    margin-top: -3px;
                    margin-bottom: -3px;
                    font-size: 12.5px; 
                    font-weight: {{ article.groupeSBD != null ? 900 : 600 }} ; 
                    text-align: left; 
                    color: #060606;">{{ article.nomArticle }}</p>
                    <p 
                    style="
                    padding: 0;
                    margin: 0;
                    margin-top: -5px;
                    font-size: 10.5px; 
                    font-weight: 900; 
                    text-align: left;">PPQ: {{ article.past }} <span ng-show="article.promotions != null" style="margin-right: 15px; float: right; font-weight: bolder;
                    font-size: 21.5px; color: #B71C1C;">&#8471</span></p></div>
                
                <div class="col col-15" style="
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;"><input type="number" value="0" ng-change="change(article)" ng-model="article.unit" style="font-weight: 900; background-color: {{ article | backgroundSBD }};color: green; width: 100%; text-align:center;
                margin-left: 2.5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-bottom-width: 2px;"></input>
                </div>
                <div class="col col-15" style="
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;"><input type="number" ng-change="change(article)" ng-model="article.packet" value="0" style="font-weight: 900; background-color: {{ article | backgroundSBD }}; color: green; width: 100%; text-align:center;
                margin-left: 2.5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-bottom-width: 2px;"></input></div>
                <div class="col col-15" style="
                border: none;
                margin: 0;
                padding: 0;
                font-weight: 900;
                text-align: center;"><span ng-bind="(article.packet*10)+(article.unit)"></span>
                <i ng-show="(article.unit > 0 || article.packet > 0) || (article.inCart)" class="icon ion-close-circled" ng-click="clicked(article)" style="color: red; float: right;"></i>
            </div>
                <div class="col"
                style="
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;">---</div>
                </div>
            </div>
          </div>
            
	</ion-content>
  <div class="bar bar-footer bar-balanced" style="background-color: #B71C1C;">
    <div class="title">
        <a ng-click="goCart()" style="float: left; font-size: 35px; margin-right: 20px;"> <i class="icon ion-android-cart"></i></a>
        Total : {{totalBill | promotion }} DHS <a ng-show="otherBrands" ng-click = "toBrands()" > <i style="float: right;
    font-weight: 900;
    font-size: 35px;" class="icon ion-android-arrow-forward"></i></a></div> 

  </div>
</ion-view>

<!-- ui-sref="app.brands({ mission : idMission })" -->