<ion-view view-title='Mon dernier chargement' >

<div ng-if="lignes.length > 0" class="bar bar-subheader bar-assertive" style="background-color: #B71C1C; height: 40px; box-shadow: none;">

    <div class="row" style="font-size: 10px; font-weight: 900;">

                        <div class="col col-20" style="text-align: left; padding: 0 !important;">Code</div>
                        <div class="col" style="text-align: left; padding: 0 !important;">{{ 'Désignation('+lignes.length+')'}}</div>
                        <div class="col col-10" style="text-align: left; padding: 0 !important;">Cs.I</div>
                        <div class="col col-10" style="text-align: left; padding: 0 !important;">Un.I</div>
                        <div class="col col-10" style="text-align: left; padding: 0 !important;">Cs.O</div>
                        <div class="col col-10" style="text-align: left; padding: 0 !important;">Un.O</div>
    </div>

</div>

<ion-content>


		<div ng-if="lignes.length > 0" class="rapport" style=" border-bottom: 2px solid #B71C1C; font-size: 10px; font-weight: 600;">
    		<div class="row chargement" ng-repeat="input in lignes" style="background-color: {{ input | chargement }}">

    			<div class="col col-20" style="text-align: left; padding: 0 !important;">{{input.code}}</div>
				<div class="col" style="text-align: left; padding: 0 !important;">{{input.designation}}</div>
				<div class="col col-10" style="text-align: left; padding: 0 !important;">{{input.packetIn}}</div>
				<div class="col col-10" style="text-align: left; padding: 0 !important;">{{input.unitIn}}</div>
				<div class="col col-10" style="text-align: left; padding: 0 !important;">{{input.packetOut}}</div>
				<div class="col col-10" style="text-align: left; padding: 0 !important;">{{input.unitOut}}</div>
    		</div>
    	</div>

        <div ng-if="lignes.length <= 0" style="color: #E82C2E;">
            <div class="row">
                <div class="col"><img style="width: 300px; height: 300px; display: block; margin: auto;" src="img/animat-lightbulb-color.gif"/></div>
            </div>

            <div class="row">
                <div class="col"><p style="text-align: center; color: #496783; font-size: 16px;"> Aucune demande de chargement n'a encore été validé par le magasinier à qui vous êtes affécté. </p></div>
            </div>
        </div>

    	<div style="margin-top: 20px;" ng-if="lignes.length > 0">
    		<table>
    			<tr>
    				<td style="padding-right: 10px">
    					<span style="    
			    		font-size: 14px;
			    		font-weight: 900;
			    		color: #B71C1C;">Code chargement</span>
    				</td>
                    <td>:</td>
                    <td>{{ chargement.id }}</td>
                </tr>
                <tr>
    				<td style="margin-left: 10px;">
    					<span style="    
			    		font-size: 14px;
			    		font-weight: 900;
			    		color: #B71C1C;">Date chargement</span>
    				</td>
                    <td>:</td>
                    <td>{{ chargement.date }}</td>
    			</tr>
    		</table>
    		
    	</div>
</ion-content>
</ion-view>