<ion-view view-title="MENU">

    <ion-content>
		<div class="card" style="background-color: #FA4848;">
		  	<h2 class="item" style="text-align: center;     font-weight: 600; color: white; font-size : 22px;"> Bonjour, {{ infos.name }} ! </h2>
		  	<h5 style="font-size: 15px; font-weight: 600; text-align: center; color: white;">G.P: {{ infos.golden_points }} / 250 pts | G.S: {{ infos.golden_stores }} / 20.</h5>

		</div>


			<div class="row" style="border: none;">
			<div class="col col-50" style="border: none;">
				<div class="card stable-bg ink ink-dark" ui-sref="app.profile" style="box-shadow: 0 5px 5px 0 rgba(0, 150, 136, 0.54); background-color: rgb(0, 150, 136); min-height: 130px; max-height: 200px; margin: 0;">
				  <div class="item item-text-wrap">
				    <h3 style="color: rgba(255,255,255,1); font-size: 18px;">Mon Espace</h3>
				    <i class="icon ion-speedometer" style="font-size: 55px;
				    color: rgba(255,255,255,1);
				    float: right;"></i>
				  </div>
				</div>
			</div>
			<div class="col col-50" style="border: none;">
				<div class="card" ui-sref="app.routes({ code : 0 })" style="box-shadow: 0 5px 5px 0 rgba(244, 67, 54, 0.54); background-color: rgb(244, 67, 54); min-height: 130px; max-height: 200px; margin: 0;">
				  <div class="item item-text-wrap">
				    <h3 style="color: rgba(255,255,255,1); font-size: 18px;">Mes Routes</h3>
				    <i class="icon ion-map" style="font-size: 55px;
				    color: rgba(255,255,255,1);
				    float: right;"></i>
				  </div>
				</div>
			</div>
		</div>
		<div class="row" style="border: none;">
			<div class="col col-50" style="border: none;">
				<div class="card" ng-click="test()" style="box-shadow: 0 5px 5px 0 rgba(33, 150, 243, 0.54); background-color: #2196F3; min-height: 130px; max-height: 200px; margin: 0;">
				  <div class="item item-text-wrap">
				    <h3 style="color: rgba(255,255,255,1); font-size: 18px;">SBD</h3>
				    <i class="icon ion-pricetag" style="font-size: 55px;
				    color: rgba(255,255,255,1);
				    float: right;"></i>
				  </div>
				</div>
			</div>
			<div class="col col-50" style="border: none;">
				<div class="card" style="box-shadow: 0 5px 5px 0 rgba(239, 108, 0, 0.54); background-color: rgb(239, 108, 0); min-height: 130px; max-height: 200px; margin: 0;">
				  <div class="item item-text-wrap">
				    <h3 style="color: rgba(255,255,255,1); font-size: 18px;">Promotions</h3>
				    <i class="icon ion-home" style="font-size: 55px;
				    color: rgba(255,255,255,1);
				    float: right;"></i>
				  </div>
				</div>
			</div>
		</div>
		<div class="row" style="border: none;">
			<div class="col col-50" style="border: none;">
				<div class="card" ui-sref="app.clients" style="box-shadow: 0 5px 5px 0 rgba(255, 87, 34, 0.34); background-color: rgba(255, 87, 34, 0.9); min-height: 130px; max-height: 200px; margin: 0;">
				  <div class="item item-text-wrap">
				    <h3 style="color: rgba(255,255,255,1); font-size: 18px;">Mes Clients</h3>
				    <i class="icon ion-ios-people" style="font-size: 55px;
				    color: rgba(255,255,255,1);
				    float: right;"></i>
				  </div>
				</div>
			</div>
			<div class="col col-50" style="border: none;">
				<div class="card" ng-click="synchronization()" style="box-shadow: 0 5px 5px 0 rgba(239, 83, 80, 0.54); background-color: rgb(239, 83, 80); min-height: 130px; max-height: 200px; margin: 0;">
				  <div class="item item-text-wrap">
				    <h3 style="color: rgba(255,255,255,1); font-size: 18px;">Synchronization</h3>
				    <i class="icon ion-android-upload" style="font-size: 55px;
				    color: rgba(255,255,255,1);
				    float: right;"></i>
				  </div>
				</div>
			</div>
		</div>
		</div>
    	<!-- <div class="list" style="margin-top: 30px;">
    		<div class="item entry">
    			<button ui-sref="app.profile" class="button button-block button-assertive icon-left ion-ios-pulse-strong button-entry">
				  Mon espace
				</button>
    		</div>
    		<div class="item entry">
    			<button ui-sref="app.routes({ code : 0 })" class="button button-block button-assertive icon-left ion-map button-entry">
				  Routes d'aujourd'hui
				</button>
    		</div>
    		<div class="item entry">
    			<button ui-sref="app.routes({ code : 0 })" class="button button-block button-assertive icon-left ion-android-bulb button-entry">
				  Promotions du mois
				</button>
    		</div>
    		<div class="item entry">
    			<button ng-click="test()" class="button button-block button-assertive icon-left ion-pricetag button-entry">
				  SBD
				</button>
    		</div>
    		<div class="item entry">
    			<button ui-sref="app.clients" class="button button-block button-assertive icon-left ion-ios-people button-entry">
				  Mes clients
				</button>
    		</div>
    		<div class="item entry">
    			<button ng-click="synchronization()" class="button button-block button-assertive icon-left ion-ios-cloud-download button-entry">
				  Synchronisation
				</button>
    		</div>

    	</div> -->
	</ion-content>
</ion-view>