<ion-view view-title="MENU">

    <ion-content>
		<div class="card" style="background-color: #FA4848;">
		  	<h2 class="item" style="text-align: center;     font-weight: 600; color: white; font-size : 22px;"> Bonjour, {{ infos.name }} ! </h2>
		  	<h5 style="font-size: 15px; font-weight: 600; text-align: center; color: white;">Livreur</h5>

		</div>


			<div class="row" style="border: none;">
			<div class="col col-50" style="border: none;">
				<div class="card stable-bg ink ink-dark" ui-sref="app.profile2" style="box-shadow: 0 5px 5px 0 rgba(0, 150, 136, 0.54); background-color: rgb(0, 150, 136); min-height: 130px; max-height: 200px; margin: 0;">
				  <div class="item item-text-wrap">
				    <h3 style="color: rgba(255,255,255,1); font-size: 18px;">Mon Espace</h3>
				    <i class="icon ion-speedometer" style="font-size: 55px;
				    color: rgba(255,255,255,1);
				    float: right;"></i>
				  </div>
				</div>
			</div>
			<div class="col col-50" style="border: none;">
				<div class="card" ng-click="synchronization()" style="box-shadow: 0 5px 5px 0 rgba(239, 83, 80, 0.54); background-color: rgb(239, 83, 80); min-height: 130px; max-height: 200px; margin: 0;">
				  <div class="item item-text-wrap">
				    <h3 style="color: rgba(255,255,255,1); font-size: 18px;">Synchronization</h3>
				    <i class="icon ion-android-upload" style="font-size: 55px;
				    color: rgba(255,255,255,1);
				    float: right;"></i>
				  </div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>