
<ion-view view-title="Soufiane ELBAZ 1200 pts.">
    <ion-content ng-class="{expanded:$scope.isExpanded}" data-tap-disabled="true">
       <div class="list">
	        <label class="item item-input">
	          <span class="input-label">Votre question secrète : </span> <br>
	          <p> {{ question_secrete }} </p>
	        </label>
	        <label class="item item-input">
	          <span class="input-label">Réponse secrète : </span>
	          <input type="text" ng-model="object.reponse">
	        </label>
	        <button> Changer mot de passe </button>
        </div>
    </ion-content>
</ion-view>
