<ion-view view-title="Produits">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/350x150">
                    <h2>Tide</h2>
                    <p>8, Jaafar Ibn Habib Bourgogne, Casablanca</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/350x150">
                    <h2>Nestlé</h2>
                    <p>45th Winneklistreen, Stockholm</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/350x150">
                    <h2>Isabel</h2>
                    <p>4, rue Ahmed Dighoussi Zitoune</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
