<ion-view
        view-title='{{ "CA : " + ( infos.ca | number : 2 ) + " / " + infos.objectif_ca + " -- GP : " + infos.golden_points + " / " + infos.objectif_golden_points }}'>

    <ion-content
            style="position: relative;" ng-class="{expanded:$scope.isExpanded}" scroll="false">
        
       

        <div ng-if="remainings.initiatives.length < 1 && remainings.sbds.length < 1" style="color: #E82C2E;">
            <!-- <h3 style="text-align: center;"><i class="icon ion-social-dropbox"></i></h3> -->
            <div class="row">
                <div class="col"><img style="width: 70%; height: 70%; display: block; margin: auto;" src="img/animat-pencil-color.gif"/></div>
            </div>

            <div class="row">
                <div class="col"><p style="text-align: center; color: #496783; font-size: 16px;"> Aucune vente jusqu'à l'instant, allez courage et levez la barrière plus haut. </p></div>
            </div>
            
            
        </div>


        <ion-scroll ng-if="remainings.initiatives.length> 0 || remainings.sbds.length>0">

        <h4 style="text-align: center;color: #B71C1C; font-weight: 600;">Initiatives & SBDs</h4>

        <div class="list" style="margin-top: 30px;">

            <div class="item item-divider" style="font-size: 18px; text-decoration: underline;"
                 ng-if="remainings.initiatives.length > 0">Initiatives({{ remainings.initiatives.length }}) :
            </div>

            <div class="item" ui-sref="app.remainingBrand({ sbd: false, promotion: true, id: initiative.id  })"
                 ng-repeat="initiative in remainings.initiatives" style="padding: 0;" style="margin: 0; padding: 0;">
                <div class="row">
                    <div class="col col-10">

                        <i ng-if="!initiative.consumed && initiative.cause != ''" class="icon ion-edit"
                           style="font-size: 16px;"></i>

                        <i ng-if="!initiative.consumed && initiative.cause == ''" class="icon ion-close-circled"
                           style="color: #F44336; font-size: 16px;"></i>

                        <i ng-if="initiative.consumed" class="icon ion-checkmark-circled"
                           style="color: green; font-size: 16px;"></i>

                    </div>
                    <div class="col" style="overflow-x: scroll; color: #000000; font-weight: 600;">
                        <ion-scroll direction="x"> {{ initiative.title }}</ion-scroll>
                    </div>
                </div>
            </div>

            <div class="item item-divider" ng-if="remainings.sbds.length > 0"
                 style="font-size: 18px; text-decoration: underline;">SBD({{ remainings.sbds.length }}) :
            </div>

            <div class="item" ui-sref="app.remainingBrand({ sbd: true, promotion: false, id: sbd.id  })"
                 ng-repeat="sbd in remainings.sbds" style="padding: 0;">

                <div class="row">
                    <div class="col col-10">
                        <i ng-if="!sbd.consumed && sbd.cause != ''" class="icon ion-edit" style="font-size: 16px;"></i>
                        <i ng-if="!sbd.consumed && sbd.cause == ''" class="icon ion-close-circled"
                           style="color: #F44336; font-size: 16px;"></i>
                        <i ng-if="sbd.consumed" class="icon ion-checkmark-circled"
                           style="color: green; font-size: 16px;"></i>
                    </div>
                    <div class="col" style="overflow-x: scroll; color: #000000; font-weight: 600;">
                        <ion-scroll direction="x"> {{ sbd.title }}</ion-scroll>
                    </div>
                </div>

            </div>
        </div>
</ion-scroll>
    </ion-content>

    <div class="bar bar-footer bar-balanced" style="background-color: #B71C1C;">
        <div class="title" style="font-size: 11px !important;">

          <span ng-if="hasPrevious" ng-click="previous()"
                style="float: left; font-size: 35px; margin: 0; margin-left: 10px;"> <i
                  class="icon ion-arrow-left-a"></i>
          </span>
         
          <span ng-click="goCart()">
            <i class="icon ion-android-cart" style="font-weight: 900;
            font-size: 20px;"></i>
            {{ ' : ' + (total | number : 2) + ' DHS' }} 
          </span>

          <span ng-if="hasNext" ng-click="next()" style="float: right; font-size: 35px; margin: 0; margin-right: 10px;"> <i
                  class="icon ion-arrow-right-a"></i>
          </span>

        </div>
    </div>


</ion-view>