<ion-view view-title="G.P: {{ infos.golden_points }} / 250 pts | G.S: {{ infos.golden_stores }} / 20.">
    <div class="bar bar-subheader bar-balanced" style="background-color: #717070;">
       <div 
       style="
       position: relative;">
      
            <label style="
            position: absolute;
            left: 8px;
            top: 1.5px;
            font-size: 15px;
            font-weight: 900;
            "><input placeholder="Filtrer" ng-model="articleName" style="
            max-width: 30%; 
            border-radius: 5px;
            font-weight: 900;
            font-size: 13px;"> <b style="float: right;font-style: italic;">SBD/Promotions : <select style="font-size: 14px; float: right;" ng-model="filterValue">
              <option value="promotion">promotion</option>
              <option value="sbd">sbd</option>
            </select>
            
        </b> 
             
          </label>
            </div>

    </div>
    <ion-content 
    style = "position: relative;" ng-class="{expanded:$scope.isExpanded}">
          <div class="list" style="
          height: 300px;
          margin: 0;
          margin-top: 44px;
          padding: 0;">           
            <div class="item" 
            style="
            margin: 0;
            padding: 0;
            min-height: 0;
            border: none;
            min-height: 0px;
            text-align: left;
            margin-top: 15px; 
            background-color: #3F51B5; 
            color: white;">
              <div class="row" style="
              margin: 0; 
              margin-top: 30px;
              margin: 0;
              padding: 0;">
                <div class="col col-50" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 14px; 
                font-weight: 900; 
                text-align: left;">désignation({{articles.length}})</div>
                <div class="col col-15" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px; 
                font-weight: 900; 
                float: left;">unité</div>
                <div class="col col-15" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px; 
                font-weight: 900; 
                float: left;">caisse</div>
                <div class="col col-15" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px; 
                font-weight: 900; 
                float: left;">total</div>
                <div class="col" 
                style="
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;
                font-size: 14px; 
                font-weight: 900; 
                float: left;">stock</div>
              </div>
            </div>
            
            <div class="item" 
            style="
            margin: 0;
            padding: 0;
            min-height: 0;
            border: none;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            min-height: 0px;
            text-align: left;" ng-repeat="article in articles | remaining : filterValue">
                <div class="row" style="
                margin: 0;
                padding: 0;
                margin: 0;
                background-color: {{ article | backgroundSBD }};"
                >
                   <div class="col col-50" style="
                  margin: 0;
                  padding: 0;
                  text-align: center;
                   overflow: hidden; border: none;">
                    <p 
                    style="
                    padding: 0;
                    margin: 0;
                    margin-top: -3px;
                    margin-bottom: -3px;
                    font-size: 12.5px; 
                    font-weight: {{ article.groupeSBD != null ? 900 : 600 }};  
                    text-align: left; 
                    color: #060606;">{{ article.nomArticle }}</p>
                    <p 
                    style="
                    padding: 0;
                    margin: 0;
                    margin-top: -5px;
                    font-size: 10.5px; 
                    font-weight: 900; 
                    text-align: left;">PPQ: {{ article.past  || '0,0,0'}}<span ng-show="article.promotions != null" style="margin-right: 15px; float: right; font-weight: bolder;
                    font-size: 18px; color: #B71C1C;">&#8471</span></p>

                    </div>
                <div class="col col-15" style="
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;"><input type="number" ng-change="change()" ng-model="article.unit" value="0" style="font-weight: 900; color: green; width: 100%; text-align:center; background-color: {{ article | backgroundSBD }};"></input></div>
                <div class="col col-15" style="
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;"><input type="number" ng-change="change()" value="0" ng-model=" article.packet" style="font-weight: 900; color: green; width: 100%; text-align:center; background-color: {{ article | backgroundSBD }};"></input>
                </div>
                <div class="col col-15" style="
                border: none;
                margin: 0;
                padding: 0;
                font-weight: 900;
                text-align: center;"><span ng-bind="(article.packet*10)+(article.unit)"></span>
                <i ng-show="article.unit > 0 || article.packet > 0" class="icon ion-close-circled" ng-click="clicked(article)" style="color: red; float: right;"></i>
            </div>
                <div class="col"
                style="
                margin: 0;
                padding: 0;
                text-align: center;
                border: none;">---</div>
                </div>
            </div>
          </div>
            
	</ion-content>
  <div class="bar bar-footer bar-balanced" style="background-color: #B71C1C;">
    <div class="title">

    	Total : {{totalBill | promotion }} DHS 

        <a ui-sref="app.cart" style="float: right; font-size: 35px;"> <i class="icon ion-android-arrow-forward"></i></a>
        

  </div>
</ion-view>