<ion-view view-title='{{ "CA : " + ( infos.ca | number : 2 ) + " / " + infos.objectif_ca + " | GP : " + infos.golden_points + " / " + infos.objectif_golden_points }}'>
    <div class="bar bar-subheader bar-balanced" style="text-align: center; border-color: #D14949; background-color:#AE2121; box-shadow: none; height: auto;">

        <!-- <div class="button-bar">
          <a class="button" style="    font-weight: 900; background-color: #CE1515; font-size: 12.5px; text-transform: none; white-space: normal; text-overflow: none; overflow: none; max-width: 100%; min-height: 15px; max-height: 30px;">aujourd'hui</a>
          <a class="button" style="    font-weight: 900; background-color: #CE1515; font-size: 12.5px; text-transform: none; white-space: normal; max-width: 100%; min-height: 15px; max-height: 30px;">en retard</a>
        </div> -->

      <!-- <div class="button-bar" style="box-shadow:none;">
            <a class="button ">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>-->




        
    </div>

    <!--<div class="key_map_container" style="margin: 0;">
          <span class="key_map" style=" font-size: 12px; color: black;text-align: center;">
              <i style="color: red;" class="icon ion-flag"></i> en attente &nbsp;
              <i style="color: orange;" class="icon ion-flag"></i> non facturé &nbsp;
              <i style="color: green;" class="icon ion-flag"></i> facturé
          </span>
    </div>-->

    <ion-content ng-class="{expanded:$scope.isExpanded}">

    
      <!--  <label for="date" style=" margin: 5px; font-size: 15px; font-weight: 600;">

            <i class="icon ion-funnel">
                <select id="date" style="font-size: 14px;" ng-model="search.state">
                    <option value="0">En attentes</option>
                    <option value="1">Visités</option>
                    <option value="2">Annulés</option>
                </select>
            </i>

        </label>-->
        <div class="button-bar">

            <a class="button button-small button-assertive" ng-class="{'button-assertive':redArray[0]}" style="     height: 10px;
    /* vertical-align: middle; */
    padding-top: 1px;" ng-click="today()">Aujourd'hui</a>
            <a class="button button-small" ng-class="{'button-assertive':redArray[1]}"  style="    height: 10px;
    /* vertical-align: middle; */
    padding-top: 1px;" ng-click="hier()" checked>Repport</a>
            <a class="button button-small" ng-class="{'button-assertive':redArray[2]}" style="    height: 10px;
    /* vertical-align: middle; */
    padding-top: 1px;" ng-click="retard()">Hors route</a>
        </div>

        <!-- <div class="row">
            

            <div class="col col col-offset-33">
                <label for="date" style=" float: left; margin: 5px; font-size: 15px; font-weight: 600;">

                    <i class="icon ion-funnel">
                        <select id="date" style="width: 75%; font-size: 14px;" ng-model="search.state">
                            <option value="0" selected>En attentes</option>
                            <option value="1">Visités</option>
                            <option value="2">Annulés</option>
                        </select>
                    </i>

                </label>
            </div>

        </div> -->
      <!--  <div class="row">
            <div class="col col-33" style="">
                <a class="button button-assertive" style="" ng-click="today()">Aujourd'hui</a>
            </div>
            <div class="col col-33" style="">
                <a class="button " style="" ng-click="hier()">Retard</a>
            </div>
            <div class="col col-33" style="">
                <a class="button " style="" ng-click="retard()">Autres</a>
            </div>
        </div>-->
        <div class="row">

            <div class="col" ng-if="redArray[0]" style="text-align: center;">
                 <span style="font-weight: 500;"> En attente </span>
                 <input class="regular-radio" name="radioBtn" style="top: 0.5em;" type="radio" ng-model="search.state" ng-value="0"></div>
            <div class="col" ng-class="{col-33:!redArray[0]}" style="text-align: center;">
                 <span style="font-weight: 500;">Visités</span>
                <input  class="regular-radio" name="radioBtn" style="top: 0.5em;" type="radio"  ng-model="search.state" ng-value="1"></div>
            <div class="col" ng-class="{col-33:!redArray[0]}" style="text-align: center;">
                <span style="font-weight: 500;"> Annulés </span>
                <input   type="radio" name="radioBtn" style="top: 0.5em;" class="regular-radio" ng-model="search.state" ng-value="2">
            </div>
        </div>







        <div class="row" ng-if="showCodeRoute" >
            <div class="col col-33" style="font-size: 14px; font-weight: 600; color: #B71C1C;"> Code Route: </div>
            <div class="col" style="font-size: 13px;"> {{ codeRoute }} </div>
        </div>

        <!-- <div class="row">
          <div class="col col-33" style="font-size: 14px; font-weight: 600;"> Code Route: </div>
          <div class="col" style="font-size: 13px;"> ROUTE001 </div>
        </div>

        <div class="row">
          <div class="col col-33" style="font-size: 14px; font-weight: 600;"> Code Route: </div>
          <div class="col" style="font-size: 13px;"> ROUTE001 </div>
        </div> -->
   <ion-list ng-if="search.state>-1" show-delete="false" can-swipe="false" style="margin-top: 30px;">

            <ion-item
                    collection-repeat="mission in missions | orderBy:'state' |filter:search"
                    item="mission"
                    ng-click="goToClient(mission)"
                    style="font-size: 25px; border-bottom: 1px solid rgba(183, 28, 28, 0.43); padding: 0; padding-left: 10px; padding-top: 10px;"
                    >
                <h2 style="font-weight: 600;">Etat : <i style="color: {{ mission.state | flag }}; font-size: 16px;" class="icon ion-flag"></i></h2>
                <h2 style="font-weight: 700; margin: 0;">{{ mission.address }}</h2>
                <p style=" margin: 0;">Magasin : {{ mission.prenom }} {{ mission.nom }} </p>
                <p style=" margin: 0;">Code client : {{ mission.code_client || "--"}}</p>
                <p style=" margin: 0;">Localisation : {{ mission.lat || 0 }}, {{ mission.lng || 0 }} </p>
            </ion-item>
        </ion-list>
        <ion-list ng-if="search.state==-1" show-delete="false" can-swipe="false" style="margin-top: 30px;">

            <ion-item
                    collection-repeat="mission in missions"
                    item="mission"
                    ng-click="goToClient(mission)"
                    style="font-size: 25px; border-bottom: 1px solid rgba(183, 28, 28, 0.43); padding: 0; padding-left: 10px; padding-top: 10px;"
            >
                <h2 style="font-weight: 600;">Etat : <i style="color: {{ mission.state | flag }}; font-size: 16px;" class="icon ion-flag"></i></h2>
                <h2 style="font-weight: 700; margin: 0;">{{ mission.address }}</h2>
                <p style=" margin: 0;">Magasin : {{ mission.prenom }} {{ mission.nom }} </p>
                <p style=" margin: 0;">Code client : {{ mission.code_client || "--"}}</p>
                <p style=" margin: 0;">Localisation : {{ mission.lat || 0 }}, {{ mission.lng || 0 }} </p>
            </ion-item>
        </ion-list>

        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title" style="color: red;">Itinéraire</h1>
                </ion-header-bar>
                <ion-content>
                    <div>
                        <leaflet markers="markers" center="client" defaults="defaults" width="100%" height="500px"></leaflet>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>

    </ion-content>
</ion-view>