/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

h5 {
    font-weight: 600;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: transparent !important;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}


div.item.item-input {
  padding: 0px;
  width: 100%;
}

.red-ionicon {
  font-size: 30px;
  color: red;
}

.modal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    height: 50%;
}

div.input-label.custom {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.5px;
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;

}

item.item-input.item-select.custom {
    margin-top : 30px;
}

i.icon.ion-flag {
    color: rgb(183, 28, 28);
}

.key_map {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.key_map_container {
    padding: 15px;
    position: relative;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.angular-google-map-container { 
  height: 100%; 
}
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.header .col {
    background-color:lightgrey;
}


body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.my-item{
  left: 0;
  right: 0;
}
.slider-pager .slider-pager-page {
    color: red;
}
.tab-item {
    font-weight : 900 !important;
}
.tabs-assertive > .tabs, .tabs.tabs-assertive  {
    border-color: #e42012;
    background-color: #B71C1C;
    background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    color: #fff;
}
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    font-size: 15px;
    /* line-height: 14px; */
    display: block;
}

.best-five-buttom {
    width: 100%; 
    background: transparent; 
    border: none;
    font-weight: 600;
    color: #FFF;
    padding: 0;
}

.best-five-buttom : hover {
    background-color: black;
}
.card .brand-five {
    margin-top: 35px;
    box-shadow: 0px 10px 10px 0 #B71C1C;
}
.popup-buttons .button {
    color: white;
    font-size: 15px;
    padding: 0;
}
.popup-title {
    font-weight: 900;
}

.popup-sub-title {
    font-weight: 600;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
input[type=number] {
    margin-top: -8px;
}

.button.button-entry {
    background-color: #B71C1C;
    color: white;
    font-weight: 600;
    font-size: 11.7px;
    letter-spacing: 0;
    border-radius: 5px;
}
.item.brand-five {
    font-weight: 900;
    box-shadow: none !important;
    background-color: #B71C1C;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: center;
}
.item.brand-five > h2{
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 0;

}
.item.brand-item {
    font-weight: 900;
    box-shadow: none !important;
    font-size: 15px;
    color: #B71C1C;
}
.item.brand-five-total {
    font-weight: 900;
    box-shadow: none !important;
    background-color: #717070;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: center;
}
.item.brand-five-total > h5{
    font-weight: 700;
    font-size: 17px;
    color: white;
    padding: 0;
}
div.col.col-brand-five {
    border: none;
    padding: 0;
    margin: 0;
    color: #B71C1C;
}
.textGreen{
    color:green;
}
.successClass{
    color: green;
}
.failureClass{
    color: red;
}
.fixedRow {
��� position: fixed;
��� bottom: 0;
}
.textLightGreen{
    color:lightgreen;
}
.textLightRed{
    color:lightcoral;
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.objblink {
-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;

-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes blink-animation {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.row.row-brand-five {
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.item.repeat-brand {
    padding: 5px;
}
.col.stat {
    height: 18px;
    border: none;
}
.row.stat {
    margin-top: 5px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 0px;
}
.col.brands {
    border: none; 
    
    height: 70px; 
    
}
.col.form {
    border: none;
    border-bottom: none;
    padding: 0;
    margin:5px;
}
.col.col-33.form.title {
    border: none;
    padding: 0;
    margin:5px;
}
.col.form.title {
    font-weight: 900;
    padding: 0;
     margin:0;
}
.row.form {
    border: none;
    padding: 0;
    margin:0;
}
.row.form.first {
    margin-top: 10px;
}
input.underline {
    line-height: 0;
    height: 38px;
    padding: 0;
    margin:0;
    margin-top: -8px;
    border: 2px solid #B71C1C;
    width: 100%;
    border-radius: 4px;
    font-weight: 600;
    font-family: helvetica, sans-serif;
}
.row:last-child .col {
    border: none;
}
.item.title {
    border-top: 1px solid #B71C1C;
    border-right: 1px solid #B71C1C;
    border-left: 1px solid #B71C1C;
}
.item.title.first {
    border-top: 1px solid #B71C1C;
    border-right: 1px solid #B71C1C;
    border-left: 1px solid #B71C1C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.item.title.last {
    border-top: 1px solid #B71C1C;
    border-right: 1px solid #B71C1C;
    border-left: 1px solid #B71C1C;
    border-bottom: 1px solid #B71C1C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.input-label {
    color: #B71C1C;
    font-weight: 900;
    font-size: 16px;
}
.input-content {
    font-size: 14px;
    font-weight: 600;
}
.button.form {
    padding: 0;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 14px;
    border-radius: 5px;
}
.row.buttons {
    padding: 0;
    text-transform: lowercase;
}
.item.entry {
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
}

h3 .title-promotion {
    font-weight: 900;
}
.item p {
    color: rgba(0,0,0,54);
}
.bar .button {
        padding: 0;
}
.bar .title {
    font-weight: 600;
}
.popup-buttons .button {
    color: white;
    font-size: 12px;
    padding: 0;
    text-transform: lowercase;
}
.button.button-assertive {
    padding: 0;
    background-color: #B71C1C;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}
.selected_date_full {
    color: #B71C1C !important;
}
.item-radio input:checked ~ .radio-icon {
    color: #B71C1C !important;
}
.color_blue {
    color: #b71c1c !important;
}
.regular-radio {
    -webkit-appearance: none;
    margin-left: 15px !important;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-radio:checked:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #B71C1C;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio:active, .regular-radio:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.popup-buttons .button {
    
    font-size: 10.5px;
    font-weight: 100;
}
.bar .title{
    font-size: 11px;
}
/*input[type='radio'] {
   -webkit-appearance: none;
   border: 2px solid #B71C1C;
   border-radius: 120px;
   height: 20px;
   width: 20px;
   margin-left: 15px;
   padding: 0;
   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);

}
input[type='radio']:active, input[type='radio']:checked:active  {
    background-color: #B71C1C;
}*/
.chargement {
    padding: 0 !important;
}
.rapport {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.tab-item {
    font-weight: 100 !important; 
}
.tabs-assertive > .tabs, .tabs.tabs-assertive{
    background-color: #B71C1C !important;
}
.list .item-radio input:checked ~ .item-content {
  background-color: rgba(233, 12, 31, 0.07);
  color: #B71C1C;
}
.bar-assertive-900 {
    font-size: 2px;
}
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: white;
  fill: white;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(183, 28, 28, 0.38);
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll {
  min-width: 100%;
}
.bar.bar-loading {
  display: block;
  height: 24px;

  /* starts right below a normal header */
  top: 44px;

  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}


/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  -webkit-transition: 200ms top;
}
.has-header.has-loading {
  /* 44px (header) + 24px */
  top: 68px;
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}


.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background: url('img/delivery.jpg');
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.item-check input:checked ~ .radio-icon {
    color: #B71C1C !important;
}

.regular-check {
    -webkit-appearance: none;
    margin-left: 15px !important;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 8px;
  
    display: inline-block;
    position: relative;
}

.regular-check:checked:after {
    content: '\2714';
  
    position: absolute;
   right: 0px;
    bottom:0px;
   
    text-shadow: 0px;
   

    font-size: 23px;
     color: #B71C1C;
}

.regular-check:checked {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-check:active, .regular-check:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }




.prev_btn_section {
  color:red !important;
}
.selected_date {
  color:white !important;
}


.ionic_datepicker_popup .popup-body .selected_date_full {
    background-color: #CB2727 !important;
}

.selected_date_full {
    color: white !important;
}


.ionic_datepicker_popup .popup-buttons button {
    background-color: #CB2727 !important;
}

.ionic_datepicker_popup .selected_date {
    background-color: #CB2727 !important;
    color: white;
}
.ionic_datepicker_popup .popup-body .button-clear {
    color: #CB2727 !important;
}

.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
    border: none;
    border-bottom: 1px solid #CB2727 !important;
    padding: 0;
}

.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
    right: 5px;
    color: #CB2727 !important;


    }

.ionic_datepicker_popup .today {
    border: 1px solid #CB2727 !important;
    border-radius: 50%;
}

.details {
    font-size: 12px;
}

.title {
    font-weight: 600;
}